# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/